body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F15B3D;
}

* {
  box-sizing: border-box;
  font-family: Suravaram;
}

/* Conteudo*/
.conteudo {
  padding: 10px;
  background: #FFFFFF url(layout1.png);
  position: absolute;
  width: 650px;
  height: 650px;
  left: 100px;
  top: 20px;
}

#nome{
  position: absolute;
  width: 68px;
  height: 37px;
  left: 37px;
  top: 20px;

  font-family: Suravaram;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 47px;
  text-align: center;

  color: #F15B3D;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#nomeinput{
  position: absolute;
  width: 250px;
  height: 37px;
  left: 130px;
  top: 45px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;


  color: #F15B3D;
  background: linear-gradient(0deg, rgba(176, 176, 176, 0.2), rgba(211, 218, 228, 0.2));
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;

}

#status{
  position: absolute;
  width: 68px;
  height: 37px;
  left: 30px;
  top: 70px;

  font-family: Suravaram;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 47px;
  text-align: center;

  color: #F15B3D;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#input{
  position: absolute;
  width: 68px;
  height: 37px;
  left: 32px;
  top: 233px;

  font-family: Suravaram;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 47px;
  text-align: center;

  color: #F15B3D;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#barraangulo{
  position: absolute;
  width: 80px;
  height: 2px;
  left: 70px;
  top: 195px;

  border: 2px solid #F15B3D;
}

#angulostatus{
  position: absolute;
  width: 75px;
  height: 18px;
  left: 70px;
  top: 135px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

#getangulo{
  position: absolute;
  width: 75px;
  height: 18px;
  left: 70px;
  top: 160px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

#anguloinput{
  position: absolute;
  width: 80px;
  height: 25px;
  left: 92px;
  top: 335px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;


  color: #F15B3D;
  background: linear-gradient(0deg, rgba(176, 176, 176, 0.2), rgba(211, 218, 228, 0.2));
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

#barraaltura{
  position: absolute;
  width: 80px;
  height: 2px;
  left: 207px;
  top: 195px;

  border: 2px solid #F15B3D;
}

#alturastatus{
  position: absolute;
  width: 53px;
  height: 19px;
  left: 220px;
  top: 135px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

#getaltura{
  position: absolute;
  width: 53px;
  height: 19px;
  left: 220px;
  top: 160px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

#alturainput{
  position: absolute;
  width: 80px;
  height: 25px;
  left: 285px;
  top: 335px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;

  color: #F15B3D;
  background: linear-gradient(0deg, rgba(176, 176, 176, 0.2), rgba(211, 218, 228, 0.2));
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

#barraima{
  position: absolute;
  width: 80px;
  height: 2px;
  left: 344px;
  top: 195px;

  border: 2px solid #F15B3D;
}

#eletroimastatus{
  position: absolute;
  width: 72px;
  height: 18px;
  left: 347px;
  top: 137px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

#eletroimastatus{
  position: absolute;
  width: 72px;
  height: 18px;
  left: 347px;
  top: 137px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

#geteletroima{
  position: absolute;
  width: 72px;
  height: 18px;
  left: 347px;
  top: 160px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

#anguloinputtittle {
  position: absolute;
  width: 75px;
  height: 18px;
  left: 96px;
  top: 300px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

#alturainputtittle{
  position: absolute;
  width: 53px;
  height: 19px;
  left: 300px;
  top: 299px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

#eletroimainputtittle{
  position: absolute;
  width: 72px;
  height: 18px;
  left: 495px;
  top: 300px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

.botao {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.botaoligaima {
  text-align: center;
  position: absolute;
  width: 110px;
  height: 36px;
  left: 478px;
  top: 331px;
  color: #F15B3D;
  background: linear-gradient(0deg, rgba(153, 153, 153, 0.2), rgba(153, 153, 153, 0.2));
}

.botaodesligaima{
  position: absolute;
  text-align: center;
  width: 110px;
  height: 36px;
  left: 478px;
  top: 373px;
  vertical-align: top;

  background: linear-gradient(0deg, rgba(189, 189, 189, 0.3), rgba(189, 189, 189, 0.3)), #F15B3D;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
  color: #FFFFFF;
}

.botaoligar{
  position: absolute;
  width: 110px;
  height: 110px;
  left: 478px;
  top: 475px;
  border-radius: 110px;
  text-align: center;

  background: rgba(241, 91, 61, 0.8);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
}

.inicializar{
  position: absolute;
  width: 110px;
  height: 110px;
  left: 63px;
  top: 475px;
  border-radius: 110px;
  text-align: center;

  background: rgba(241, 91, 61, 0.8);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
}

.barraaltura {
  position: absolute;
  width: 180px;
  height: 15px;
  left: 338px;
  top: 508px;
}

.circuloangulo{
  position: absolute;
  width: 176px;
  height: 176px;
  left: 47px;
  top: 336px;
}

#barradivisao{
  position: absolute;
  height: 630px;
  left: 650px;
  top: 1px;

  border: 2px solid #F15B3D;
}

#historico{
  position: absolute;
  left: 885px;
  width: 68px;
  height: 37px;
  top: 20px;

  font-family: Suravaram;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 47px;
  text-align: center;

  color: #F15B3D;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#historicoLayout{

  font-family: Suravaram;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#historicoLayout2{
  position: absolute;
  left: 885px;
  width: 68px;
  height: 37px;
  top: 85px;

  font-family: Suravaram;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: right;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#historicoLayout2{

  font-family: Suravaram;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: right;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
