<div class="conteudo">

  <h2 id="nome">Operador:</h2>
  <input id="nomeinput" type="text" placeholder="Nome" [(ngModel)]="nomeOperador">

  <h2 id="status">Status</h2>

  <h3 id="angulostatus">Angulo</h3>
  <p id="getangulo">angulo{{getAngulo}}</p>
  <div id="barraangulo"></div>

  <h3 id="alturastatus">Altura</h3>
  <p id="getaltura">altura{{getAltura}}</p>
  <div id="barraaltura"></div>

  <h3 id="eletroimastatus">Eletroima</h3>
  <p id="geteletroima">eletroima{{getEletroima}}</p>
  <div id="barraima"></div>

  <h2 id="input">Input</h2>

  <h3 id="anguloinputtittle">Angulo</h3>
  <input id="anguloinput" type="number" placeholder="Angulo" min=-180 max=180 [(ngModel)]="form.angulo">

  <h3 id="alturainputtittle">Altura</h3>
  <input id="alturainput" type="number" placeholder="Altura" min=0 max=35 [(ngModel)]="form.altura">

  <h3 id="eletroimainputtittle">Eletroima</h3>

  <button class="botao botaoligaima" (click)="liga()">Ligar</button>
  <button class="botao botaodesligaima" (click)="desliga()">Desligar</button>
  <button class="botao botaoligar" (click)="submitNew()">Start</button>
  <button class="botao inicializar" (click)="submitInicializar()">Iniciar</button>
  <div id="barradivisao"></div>
  <h2 id="historico">Historico</h2>

</div>

